<h1> <%= @portfolio_item.title%></h1>
<em> <%= @portfolio_item.subtitle%></em>
<p> <%= @portfolio_item.body%></p>
<%= image_tag @portfolio_item.main_image%>
<h2>Technologies Used</h2>
<% @portfolio_item.technologies.each do |t| %>
  <p><%= t.name %></p>
<% end %>
