<h1><%= "Hi, " + current_user.first_name if current_user%></h1>
<p>Find me in app/views/pages/home.html.erb</p>
<h1> Blogs </h1>
<%= @blog.inspect%>
<h1> Skills </h1>
<%= @skills.inspect%>

<hr>
<%= sample_helper%>