<!DOCTYPE html>
<html>
  <head>
    <title>DevcampPortfolio | My Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= render "shared/nav" %>
    <%= yield %>

    <% if session[:source]%>
      <p>Thanks for visiting me from <%= session[:source]%> </p>
    <%end%>
  </body>
</html>
